
.detail-page{ 
  max-width: 70%;
  min-width: 700px;
  padding: 30px 170px;
  margin: 0 auto;
}

.detail-grid{ 
  display:grid; 
  grid-template-columns: 6fr 4fr; 
  column-gap: 10%;
  align-items:start; 
}

.detail-media{
  display: flex; 
  width: 100%;
  aspect-ratio: 1 / 1;
  background:#fff; 
  border-radius:17px; 
  overflow:hidden; 
  padding: 0;
  position: relative;
}
.detail-img{ 
  display:block;  
  width: 100%;
  object-fit: cover;    
}

.arrow{ 
  position:absolute; 
  top:50%; 
  transform:translateY(-50%); 
  width: clamp(36px, 4vw, 50px);
  height: clamp(36px, 4vw, 50px);
  border:none; 
  border-radius:50%; 
  background:rgba(255,255,255); 
  opacity: 0.5;
  cursor:pointer; 
  color : rgba(0,0,0); 
  font-size: clamp(18px, 2.2vw, 25px);
}

.prev-btn{ 
  left:10px; 
}

.next-btn{ 
  right:10px; 
}

.pager{ 
  position:absolute; 
  bottom:10px; 
  left:50%; 
  transform:translateX(-50%); 
  font-size:15px; 
  font-weight: 400;
  background:rgba(255,255,255);
  opacity: 0.5;
  padding:4px 10px; 
  border-radius:17px; 
}

/* 우측 상품 정보 */
.detail-info{ 
  display:flex;
  flex-direction:column; 
  gap:20px;
  flex-grow: 1;
  height: auto;
}

.detail-info .category{ 
  color:#B9B9B9; 
  font-size:16px; 
}

.detail-info .title{ 
  font-size:32px; 
  margin:0 0 20px 0;
}

.detail-info .price{ 
  color:#36AE92; 
  font-weight:800; 
  font-size: clamp(20px, 3vw, 30px);  
  margin-bottom: 10px;
}

.trade{ 
  display:flex; 
  align-items:center; 
  text-align: left;
  gap:10px; 
  margin-bottom: 10px;
}

.trade .dliv{ 
  display:inline-block; 
  padding:4px 8px; 
  border-radius:6px; 
  color:#B9B9B9; 
  font-weight:700; 
  font-size:24px; 
  opacity:.4; 
  line-height: 1;
}

.trade .dliv.on{ 
  color: #36AE92;
  opacity:1; 
}

.trade .or{ 
  color:#B9B9B9; 
  font-weight:700; 
}

.trade .fee-extra{ 
  color:#36AE92; 
  font-size:16px; 
  font-weight: 600;
}

.seller-title{
  font-size: 15px;
  color:#000;
  display: flex;
  flex-direction: column;
  position:relative;
  gap: 0;
}
.seller-title h3{
  padding-left: 10px;
  font-weight: 550;
}
.seller-card{ 
  position:relative;
  width: 100%;
  border:1px solid #757575; 
  border-radius:17px; 
  background:#f7f7f7; 
  padding: 12px 12px 0 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.seller-row{ 
  display:flex; 
  align-items:center; 
  gap:0;
  margin-bottom:8px; 
  flex-shrink: 0;
}

.seller-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
  margin-right: 20px
}

.seller{ 
  width:39px; 
  height:39px; 
  border-radius:50%; 
  background:url('seller.png') center / cover;
  margin-left: 0;
}

.seller-name{ 
  font-weight:400; 
  font-size: 16px;
}

.grade{ 
  margin-left:40px; 
  color:#36AE92; 
  font-weight:800; 
  font-size: 18px;
}

.eval-btn{ 
  width: 30%;
  border:1px solid #757575; 
  background:#f7f7f7; 
  color:#000; 
  border-radius:17px; 
  padding:6px 10px;
  margin: 0 5px 5px auto;
  cursor:pointer; 
  font-weight: 400;
  font-size: 16px;
  flex-shrink: 0;
}

.memo {
  border-top: 1px solid #757575;
  width: auto;
  min-height: clamp(70px, 18vw, 120px);
  text-align: left;
  justify-content: center;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  overflow-y: auto;
  padding: 20px 12px;
}

/* 총 금액&버튼: detail-info 하단 고정 */
.total{ 
  margin-top: auto; 
  margin-bottom: 20px;
  display:flex; 
  align-items:baseline;
  gap:10px; 
  font-size: 25px;
}

.total .label { 
  font-weight:700;
  font-size: 25px;
  color: #000;
}

.total price {
  color: #36AE92;
  font-weight: 800;
}

.total .hint{ 
  color:#757575; 
  font-size:18px; 
  margin-left: -5px;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buy-btn{ 
  margin-top:10px; 
  width: 50%;
  height: 62px;
  border:none; 
  border-radius:17px; 
  cursor:pointer; 
  background:#155724; 
  color:#fff; 
  font-weight:600; 
  font-size: 20px;
  margin-bottom: 0;
  align-items:flex-end;
}

.reg_review-btn{ 
  margin-top:10px; 
  width: 50%;
  height: 62px;
  border:1px solid #757575;
  border-radius:17px; 
  cursor:pointer; 
  background:#fff; 
  color:#155724; 
  font-weight:600; 
  font-size: 20px;
  margin-bottom: 0;
  align-items:flex-end;
}
.heart-box{
  gap: -10px; 
  display: inline-flex;      
  align-items: center;
}
#heart {
    position: static;      
    color: #757575;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
    transition: color 0.2s ease-in-out;  
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
}
#heart.red {
    color: #155724;
}
#heart:hover {
    transform: scale(1.1); 
}
.heart-cnt{
  align-items:end;
  font-size: 22px;
  font-weight: 500;
  color: #757575;
}