.profile-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.profile-container {
  display: flex;
  width: 80%;
  gap: 5%;
}

/* 왼쪽 프로필 정보 */
.user-info {
  display: flex;
  width: 25%;
  min-width: 150px;
  max-width: 900px;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.user-name {
  color: var(--main, #155724);
  text-align: center;
  font-family: pretendard;
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.user-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  margin-bottom: 20px;
}

.user-stats div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-stats span {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}

.user-stats strong {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
}

.review-btn {
  background-color: white;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 14px;
  border: 1.5px solid #155724;

  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}

.review-btn:hover {
  background-color: #e9f1ec;
}

/* 오른쪽 상품 섹션 */
.product-section {
  width: 70%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.items-list {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;  
}

.product-section h3 {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;

  overflow-x: auto; 
  white-space: nowrap;
  scrollbar-width: none;
  padding: 0px 20px;
}

.product-img {
  height: 160px;
  width: 160px;
  border-radius: 10px;
  background: #D9D9D9;
}

.product-title {
  color: #000;
  width: 100%;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  margin: 8px 0px;
}

.write-review {
  background-color: #155724;
  width: 100%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: 500;
}

.write-review.disabled {
  background-color: #e0e0e0;
  color: #888;
  cursor: default;
}

.write-review:not(.disabled):hover {
  background-color: #2b513f;
}

p {
  margin: 20px;
  color: #9d9d9d;
}