.profile-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.profile-container {
  display: flex;
  width: 80%;
  gap: 5%;
}

/* 왼쪽 프로필 정보 */
.user-info {
  display: flex;
  width: 25%;
  min-width: 150px;
  max-width: 900px;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.user-name {
  color: var(--main, #155724);
  text-align: center;
  font-family: pretendard;
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.user-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  margin-bottom: 20px;
}

.user-stats div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-stats span {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}

.user-stats strong {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
}

/* 오른쪽 상품 섹션 */
.product-section {
  width: 70%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.items-list {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;  
}

.product-section h3 {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;

  overflow-x: auto; 
  white-space: nowrap;
  scrollbar-width: none;
  padding: 0px 20px;
}

.product-grid .review-card {
  border-radius: 0px;
  box-shadow: none;
  width: 160px;
  height: 240px;
  overflow: visible;
}

.product-grid .review-card:hover {
  transform: none;
}

.product-img {
  height: 160px;
  width: 160px;
  border-radius: 10px;
  background: #D9D9D9;
  object-fit: cover;
}

.product-title {
  color: #000;
  width: 100%;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  margin: 8px 0px;
}

p {
  margin: 20px;
  color: #9d9d9d;
}