.review-form {
    width: 70%;
    margin: 50px auto;
    color: #2f4f2f;
  }
  
  .grade-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }
  
  .grade-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bcd9b3;
    border: none;
    font-size: 20px;
  }
  
  .grade {
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .text-section input, .text-section textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .upload-box {
    border: 2px dashed #bcd9b3;
    padding: 30px;
    text-align: center;
    color: #789262;
    border-radius: 10px;
    margin: 15px 0;
  }
  
  .btn-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .submit-btn {
    background-color: #326e36;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
  }
  
  .cancel-btn {
    background-color: #f2f2f2;
    color: #2f4f2f;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 30px;
  }
  