/* 전체 기본 설정 */
body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400; /* regular */
  background-color: #F7F7F7;
}

/* 링크 기본 스타일: 기본 브라우저 파란/보라색 제거 */
/* color: inherit 로 설정하면 부모 요소의 텍스트 색을 따름 */
a, a:visited {
  color: inherit;
  text-decoration: none; /* 밑줄 제거 */
}

/* 필요하면 호버/포커스에서 색 변화 주기 */
a:hover, a:focus {
  color: inherit;
  cursor: pointer;
}

/* 네비게이션 바 스타일 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
  min-width:1200px;
}

.navbar__left {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

/* 로고 영역 */
.navbar__logo a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* 메뉴 영역 */
.navbar__menu {
  display: inline-flex;
  height: 80px;
  padding: 20px 10px;
  align-items: center;
  gap: 70px;
  flex-shrink: 0;

  color: var(--main, #155724);
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

/* 메뉴 링크 스타일 */
.navbar__menu a {
  font-size: 22px;
  transition: color 0.05s;
}
#resi_rv {
  font-size: 22px;
  color: #155724;
  font-weight: 500;
}

/* 오른쪽 영역 */
.navbar__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 10px;
  gap: 20px;
  margin-right: 30px;
}

/* 검색창 스타일 */
.navbar__searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.1);
  padding: 0 20px;
  gap: 10px;
}

.navbar__search {
  width: 200px;
  height: 28px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
}

.navbar__searchContainer input::placeholder {
  color: #C4C4C4;
  font-size: 16px;
}

.navbar__searchContainer form {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 검색창 버튼 디자인 없애기 */
.navbar__searchContainer button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.navbar__searchContainer img {
  padding-top: 2px;
  width: 20px;
  height: 20px;
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile__container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.login_button, .logout_button, .signup_button {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  padding: 9px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 17px;
  border: 1px solid rgba(21, 87, 36, 0.28);
  background: #FFF;
  white-space: nowrap;
}

.signup_button {
  color: #FFF;
  border-radius: 17px;
  background: var(--main, #155724);
}

.login_button:hover a, .signup_button:hover a {
  text-decoration: none;
}

.navbar__toogleBtn {
  display: none;
}

section {
  min-height: calc(100vh - 260px);
}

footer {
  display: flex;
  width: 100%;
  height: 128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #EEE;
}

footer p {
  color: #B7B7B7;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 0%;
}
.detail-media {
    position: relative; 
}
#heart {
    position: absolute;
    bottom: 15px;
    right: 15px;
    
    color: grey;
    font-size: 50px;
    cursor: pointer;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2); 
    transition: color 0.2s ease-in-out;  
    border-radius: 50%;
    padding: 5px; 
  
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 60px; 
    height: 60px; 
}
#heart.red {
    color: #155724;
}
#heart:hover {
    transform: scale(1.1); 
}