/* 전체 기본 설정 */
body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400; /* regular */
  background-color: #F7F7F7;
}

/* 링크 기본 스타일: 기본 브라우저 파란/보라색 제거 */
/* color: inherit 로 설정하면 부모 요소의 텍스트 색을 따름 */
a, a:visited {
  color: inherit;
  text-decoration: none; /* 밑줄 제거 */
}

/* 필요하면 호버/포커스에서 색 변화 주기 */
a:hover, a:focus {
  color: inherit;
  text-decoration: underline;
}

/* 네비게이션 바 스타일 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 20px;
}

/* 로고 영역 */
.navbar__logo a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* 메뉴 영역 */
.navbar__menu {
  display: inline-flex;
  height: 80px;
  padding: 20px 10px;
  align-items: center;
  gap: 70px;
  flex-shrink: 0;

  color: var(--main, #155724);
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
}

/* 메뉴 링크 스타일 */
.navbar__menu a {
  font-size: 22px;
  transition: color 0.05s;
}

.navbar__right {
  display: inline-flex;
  padding: 20px 10px;
  align-items: center;
  gap: 20px;
}

.login_button, .signup_button {
  color: var(--main, #155724);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  padding: 12px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 17px;
  border: 1px solid rgba(21, 87, 36, 0.28);
  background: #FFF;
}

.signup_button {
  color: #FFF;
  border-radius: 17px;
  background: var(--main, #155724);
}

.login_button:hover a, .signup_button:hover a {
  text-decoration: none;
}

footer {
  display: flex;
  width: 100%;
  height: 128px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #EEE;
}

footer p {
  color: #B7B7B7;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  padding: 0%;
}