{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="../static/items_style.css" />
  <main>
    {% if q %}
      <h2>검색 결과: "{{ q }}" ({{ total }}개)</h2>
    {% endif %}
    <!-- 좌측 카테고리 -->
    <div class="main">
    <aside class="category">
      <a href="{{ url_for('reg_item') }}">
        <button class="newItem-btn" type="button">
        <span class="plus">+</span>
        <span>상품 등록하기</span>
      </button>
      </a>

      <nav class="ctgy-list">
        <a class="ctgy {% if cat == 'all' %}active{% endif %}" 
          href="{{ url_for('view_list', cat='all', page=0, q=q) }}">All</a>
        <a class="ctgy {% if cat == 'clothes' %}active{% endif %}" 
          href="{{ url_for('view_list', cat='clothes', page=0, q=q) }}">Clothes</a>
        <a class="ctgy {% if cat == 'books' %}active{% endif %}" 
          href="{{ url_for('view_list', cat='books', page=0, q=q ) }}">Books</a>
        <a class="ctgy {% if cat == 'digitals' %}active{% endif %}" 
          href="{{ url_for('view_list', cat='digitals', page=0, q=q) }}">Digitals</a>
        <a class="ctgy {% if cat == 'etc' %}active{% endif %}" 
          href="{{ url_for('view_list', cat='etc', page=0, q=q) }}">Etc</a>
      </nav>
    </aside>

    <!-- 우측 상품 목록 -->
    <section class="item-list">
    {% if total > 0 %}
    <div class="grid">
  {% for item_id, item in row1 %}
  <article class="item" data-cat="{{ item.category }}">
    <a href="/item_detail?id={{ item_id }}">
      <div class="item-img-div">
        <img class="thumb-img" 
            src="{{ url_for('static', filename = 'images/' + item.img_path[0]) }}" 
            alt="{{ item.title }}">
      </div>
      <div class="item-body">
        <div class="title">{{ item.title }}</div>
        <div class="caption">
          <div class="price">₩ {{ "{:,.0f}".format(item.price | int) }}</div> 
          <!-- 좋아요 수-->
          <div class="likes">♡ {{ item.heart_count }}</div>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
  {% for item_id, item in row2 %}
  <article class="item" data-cat="{{ item.category }}">
    <a href="/item_detail?id={{ item_id }}">
      <div class="item-img-div">
        <img class="thumb-img" 
            src="{{ url_for('static', filename = 'images/' + item.img_path[0]) }}" 
            alt="{{ item.title }}">
      </div>
      <div class="item-body">
        <div class="title">{{ item.title }}</div>
        <div class="caption">
          <div class="price">₩ {{ "{:,.0f}".format(item.price | int) }}</div> 
          <div class="likes">♡ {{ item.heart_count }}</div>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
  </div>

      <!-- 페이지네이션 -->
      <nav class ="item-pagination">
        <button class="page-btn"
        onclick="window.location.href='{{ url_for('view_list', page=(page-1 if page > 0 else 0)) }}'"
        {% if page == 0 %}disabled style="opacity: 0.5; cursor: not-allowed;"{% endif %}>
        &laquo;</button>
        {% for i in range(page_count)%}
        <button class="page-btn {% if i == page %}active{% endif %}" type="button"
          onclick="window.location.href ='{{ url_for('view_list', page=i, cat=cat) }}'">
          {{i+1}}
        </button>
        {% endfor %}
        <button class="page-btn"
        onclick="window.location.href='{{ url_for('view_list', page=(page+1 if page < page_count-1 else page_count-1)) }}'"
        {% if page >= page_count - 1 %}disabled style="opacity: 0.5; cursor: not-allowed;"{% endif %}>
        &raquo;</button>
      </nav>
      {% else %}
      <p>등록된 상품이 없습니다.</p>
      {% endif %}

    </section>
    </div>
</main>
{% endblock section %}